/* CSS reset and general */

:root {
    --mainColor: rgb(16, 20, 44);
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}



/* Main content */

/* Header */

.header {
    width: 100vw;
    height: 10vh;
    background-color: var(--mainColor);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}

.titleTxt {
    color: white;
    font-size: 4rem;
    font-weight: 700;
}

.titleIcon {
    width: 72px;
    height: 72px;
}


form {
    display: flex;
    justify-content: center;
    align-items:flex-end;
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    gap: 4px;
    overflow: hidden;
}

.search {
    outline: none;
    border: none;
    background-color: var(--mainColor);
    font-size: 1.5rem;
    color: white;
    border-bottom: 2px solid white;
    padding: 4px;
}

.searchBtn {
    outline: none;
    border: none;
    background-color: var(--mainColor);
    width: 2rem;
    height: 2rem;
    transition: 0.3s ease-in-out;
}

.searchBtn:hover {
    transform: rotate(15deg);
    cursor: pointer;
}

.searchIcon {
    width: 2rem;
    height: 2rem;
}


/* Current Weather */
.current {
    background-image: url(resources/clear.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100vw;
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.currCont {
    display: flex;
    justify-content: space-between;
    align-items: left;
    width: 70%;
    height: 70%;
}

.currMain {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 4px;
}

.currMore, .descWrap {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:flex-end;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 8px;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 12px;
}

.currIcon {
    width: 4rem;
    height: 4rem;
}

.descWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.curr {
    color: white;
    font-size: 2rem;
    font-weight: 700;
}

.currTxt {
    color: white;
    font-size: 1rem;
    font-weight: 700;
}

.city.curr {
    font-size: 3.5rem;
}

.temp.curr {
    font-size: 7rem;
    letter-spacing: 6px;
    font-weight: 1000;
}

.date.curr, .time.curr {
    font-size: 1.6rem;
}

.curr.weather {
    font-size: 3rem;
}

.curr.comp {
    font-size: 1.5rem;
}

.hiLo {
    display: flex;
    justify-content: left;
    align-items: center;
    box-sizing: border-box;
    margin-top: -16px;
}

.high, .low {
    color: whitesmoke;
    font-size: 2.5rem;
    font-weight: 700;
    opacity: 0.8;
    padding: 0px 8px 0px 8px;
}

.low {
    border-right: 1.5px solid white;
}

/* Future Weather */
.future {
    max-width: 100vw;
    min-height: 20vh;
    background-color: var(--mainColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 2rem;
    box-sizing: border-box;
}

/* Tabs */
.tabs {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 16px;
}

.tab {
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
}

.active {
    text-decoration: underline 2px solid white;
    text-underline-offset: 2px;
}

/* Future Content */

.futureContainer {
    width: 100%;
    height: 90%;
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    overflow: auto;
}

.cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
    min-width: 110px;
}

.weatherIcon {
    width: 90px;
    height: 90px;
}

.cellTxt {
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
}

/* Toggle Switch */

.toggle-button-cover {
    display: table-cell;
    position: absolute;
    top: 3rem;
    left: 4rem;
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
  }

  .knobs,
  .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .button {
    position: relative;
    top: 50%;
    width: 74px;
    height: 42px;
    margin: -20px auto 0 auto;
    overflow: hidden;
  }
  
  .button.r,
  .button.r .layer {
    border-radius: 100px;
  }
  
  .button.b2 {
    border-radius: 20px;
  }
  
  .checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
  }
  
  .knobs {
    z-index: 2;
  }
  
  .layer {
    width: 100%;
    background-color: #abf8b2;
    transition: 0.3s ease all;
    z-index: 1;
  }

#button-13 .knobs:before,
#button-13 .knobs:after,
#button-13 .knobs span {
  position: absolute;
  top: 4px;
  width: 20px;
  height: 16px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  border-radius: 16px;
  transition: 0.3s ease all;
}

#button-13 .knobs:before,
#button-13 .knobs:after {
  color: #4e4e4e;
  z-index: 1;
}

#button-13 .knobs:before {
  content: "\00B0 F";;
  left: 4px;
}

#button-13 .knobs:after {
  content: "\00B0 C";
  right: 4px;
}

#button-13 .knobs span {
  width: 25px;
  left: 37px;
  background-color: #36e027;
  z-index: 2;
}

#button-13 .checkbox:checked + .knobs span {
  left: 4px;
  background-color: #f44336;
}

#button-13 .checkbox:checked ~ .layer {
  background-color: #fcebeb;
}